* {
    margin: 80px;
    background-color: rgb(116, 116, 158);
}

body {
    text-align: center;
    background: fixed;
    background-color: rgb(129, 129, 145);
}

#principal {  
    background: aqua;
    float: right;
    font: 200;
    text-align: justify;
    text-shadow: rgba(rgb(228, 79, 79), alpha);
}

#seccion {
    background-color: rgb(238, 120, 175);
    float: left;
    font-size: x-small;
    text-decoration: bisque;
}