* {
    margin: 1px;
    background-color: rgb(226, 240, 98);
}
header{
	background:content-box, rgb(221, 70, 123);
    height:100px;
	width: 100%;
	background-position: 0px;
}
#principal {
    background: aqua;
    font:100;
    text-align:start;
    text-shadow: rgba(rgb(226, 240, 98), alpha);
}
#seccion {
    font: 200;
    text-decoration: bisque;
}
#button {
    position:relative;
    float:inline-start;
    text-align: justify;
}
img {
    position: absolute, fixed;
    width: 50%;
    font-weight: normal;
}
h1 {
    background:content-box, rgb(221, 70, 123);
    font: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px , 6px;
}
href {
    position: absolute, fixed;
    width: 50%;
    font-weight: normal;
}