* {
    margin: 80px;
    background-color: rgb(226, 240, 98);
}
#body {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 200%;
}
#principal {
    background: aqua;
    float: right;
    font: 200;
    text-align: justify;
    text-shadow: rgba(rgb(226, 240, 98), alpha);
}
#seccion {
    float: left;
    font-size: arial, sans-serif;
    text-decoration: bisque;
}
